body {
    font-family: Arial, sans-serif;

}

#image-container {
    display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px; 
  padding: 10px; 
  max-width: 100%;
  margin: 10px; 
  }
  
  img {
  max-width: 275px;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 10px; 
  transition: transform 0.2s ease-in-out;
  }
  
img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  

  img:hover::after {
    content: 'Hover text';
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

  h2 {
    font-size: xx-large;
    position: relative;
    margin-left: 45%;
  }


